@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300&display=swap');

:root {
    --darkblue: #112B3C;
    --blue: #205375;
    --orange: #F66B0E;
    --white: #EFEFEF;
    --black: #000000;
}    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    font-size: 1.5vw;
    justify-content: center;
}

body, button {
    font-family: 'Jost', sans-serif;
    color: var(--white);
    background-color: var(--darkblue);
}

button {
    cursor: pointer;
    border: none;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 1s, opacity 1s;
}

.pre-game {
    display: flex;
    z-index: 1;
    background-color: var(--darkblue);
}

.pre-game, .container{
    margin: auto;
}

.pre-game > div {
    margin: auto;
    width: 10em;
    text-align: center;
    font-size: 3em;
    background-color: var(--blue);
    padding: 0.5em;
    box-shadow: 0 0 0.5em var(--black);
}

.pre-game button {
    font-size: 1em;
    margin-top: 0.5em;
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--orange);
    padding: 0 1em;
}

.pre-game button:hover {
    border: 1px solid var(--white);
}

button:hover {
    text-shadow: 0 0 10px var(--white);
}

.container {
    width: 100%;
    height: 100%;
    position: fixed;
    max-width: 20em;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    margin: 2em 0;
    box-shadow: 0 0 10px var(--black);
    color: var(--darkblue);
}

.side {
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.box {
    width: 5em;
    cursor: pointer;
    font-size: 4em;
}

.top div.box {
    border-bottom: 1px solid var(--orange);
}

.low div.box {
    border-top: 1px solid var(--orange);
}

div.left {
    border-right: 1px solid var(--orange);
}

div.right {
    border-left: 1px solid var(--orange);
}

.horizontal {
    background-image: url("../image/horizontal.png");
}

.vertical {
    background-image: url("../image/vertical.png");
}

.diagonal-left {
    background-image: url("../image/diagonal-left.png");
}

.diagonal-right {
    background-image: url("../image/diagonal-right.png");
}   

.horizontal, .vertical, .diagonal-left, .diagonal-right {
    background-size: 100% 100%;    
}

.result button {
    font-size: 1em;
}

.open {
    color: var(--white)
}

@media only screen and (max-width: 600px){
    body {
        font-size: 1.5vh;
    }

    .container {
        font-size: 2vh;
    }

    .pre-game {
        width: 90%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 900px) and (orientation: landscape){
    body {
        font-size: 1.5vw;
    }

    .pre-game {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    body {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 2vw;
    }
}